<% cache product do %>
<div class="col-xs-12 col-sm-6 col-md-3">
  <div class="thumbnail">
    <%= image_tag(product.image_url, class: "img-responsive product_img") if product.image_url %>
    <div class="caption">
      <a href="#"><h3><%= product.name %></h3></a>
      <p><%= product.description %></p>
      <p>Colour: <%= product.colour %></p>
      <strong>$<%= product.price %></strong>
    </div>
  </div>
    <p><%= link_to 'Show', product %>
      <% if signed_in? && current_user.admin? %>
        <p><%= link_to 'Edit', edit_product_path(product) %>
        <p><%= link_to 'Destroy', product, method: :delete, data: { confirm: 'Are you sure?' } %></p>
      <% end %>
  </div><!-- /col -->
<% end %>
